.career {
    background-color: var(--light-bg-color);
    font-family: var(--main-font-style);
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 54px;
  }
  
  .careerSite {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
  
    padding-bottom: 75px;
  }
  
  .careerSite a {
    font-weight: 400;
    line-height: 40px;
  }
  
  .careerSite h3 {
    font-size: 24px;
  }
  
  .login {
    display: flex;
    justify-content: space-between;
  
    padding-top: 15px;
    padding-bottom: 75px;
    border-top: 1px solid rgba(114, 114, 114, 0.329);
    width: 100%;
  }
  
  .login a {
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
  }
  
  .recruitConnectContainer {
    background-color: rgba(0, 0, 0, 0.973);
    width: 1200px;
    height: 288px;
    border-radius: 10px;
  }
  
  .recruitConnect h1 {
    color: white;
    font-size: 38px;
    letter-spacing: -2px;
    margin-bottom: 0;
  }
  
  .recruitConnect h3 {
    color: rgb(194, 194, 194);
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -1.6px;
    margin-top: 0;
  }
  
  
  .recruitConnect select {
    width: 490px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.171);
    border: none;
    border-radius: 8px;
  
    color: white;
    font-size: 18px;
    padding: 20px;
    padding-left: 30px;
  }
  
  select option {
    color: black;
    font-weight: 300;
  }
  
  .recruitConnect ul li {
    list-style-type: none;
  }
  
  .recruitConnect img {
    border-radius: 50px;
    height: 64px;
    border: 3px solid white;
    margin: 18px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  .recruitConnect ul {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  
  @media screen and (max-width: 576px) {
    .career {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .login {
      flex-direction: column;
    }
  
  
    .recruitConnectContainer {
      width: 100%;
      height: 350px;
    }
  
    .recruitConnect h1 {
      padding-right: 30px;
      padding-left: 30px;
    }
  
    .recruitConnect h3 {
      font-size: 24px;
      padding-left: 20px;
      padding-right: 20px;
    }
  
  
    .recruitConnect select {
      width: 90%;
    }
  
    select option {}
  
    .recruitConnect ul li {}
  
    .recruitConnect img {}
  
    .recruitConnect ul {}
  
  
  }
  
  @media screen and (max-width: 320px) {
    .career {}
  }