/*Job Description Section*/

.jobDescribtion {
  min-height: 200dvh;
  text-align: start;
  background-color: var(--light-bg-color);

  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 30px;
  font-family: var(--main-font-style);
}

.mainDescription {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 20px;

  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 32px;
}

.mainDescription p {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.mainDescription h4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.mainDescription ul li {
  padding-left: 12px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

/*Info Block*/

table {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  line-height: 46px;
  width: 100%;

  flex-wrap: wrap;
}


thead tr:first-of-type th {
  font-weight: 600;
}


table tr {
  display: flex;
  flex-direction: column;

}

table tr th {
  text-align: start;
  font-weight: 400;

}

.tableContainer {
  background-color: rgba(1, 1, 1, 0.03);
  border-radius: 5px;
  min-width: 850px;
}

@media screen and (max-width: 768px) {
  .tableContainer {
    min-width: 550px;
  }
}

@media screen and (max-width: 576px) {
  .tableContainer {
    min-width: 370px;
  }
}

@media screen and (max-width: 320px) {
  .tableContainer {
    min-width: 300px;
  }
}

/*Contact expert block*/

.contactExpert {
  display: flex;
  align-items: center;

  gap: 34px;
  padding: 72px 72px 168px 72px;
  line-height: 8px;
}

.contactExpert img {
  border-radius: 50%;
  height: 170px;
}

.contactExpertInfo h2 {
  padding-top: 9px;
}


.contactExpertInfo h4 {
  font-weight: 400;

}

@media screen and (max-width: 576px) {
  .contactExpert {
    flex-direction: column;
    text-align: center;
  }
}