@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
:root{
  --landing-bg-color: rgba(20, 26, 33, 0.8);
  --main-font-style: 'Open Sans', sans-serif;
  --secondary-font-style: 'Roboto', sans-serif;

  --light-bg-color: rgb(241, 240, 240);
}
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}